 .container3{
    display: flex;
  }
  
  .pic {
    display: flex;
    justify-content: middle;
    align-items: center;
    border-color: #4a707a;
    border-radius: 10px;
    color: white;
    background: transparent;
    font-size: 16px;
    height: 300px;
    width: 70%;
    margin: 10px;
    ;
  }
  
  .pic img {
    height: 90%;
    margin: 15px;
    margin-left: 40px;
    border-radius: 50%
  }

  .name {
    text-align: center; 
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    flex: 1;
    padding: 0;
    margin: 40px;
    font-size: 24pt;
}

  .name h1 {
    font-size: 50pt;
  }
  
  .contact {
    justify-content: center;
    align-content: center;
    text-align: left;
    background: transparent;
    border-radius:10px ;
    width: 30%;
    margin: 10px;
    
  }
  
  .contact h2 {
    font-size: 24pt;
    font-weight: 600;
    color: rgb(78, 20, 20);
    margin-left: 10px;
  }
  
  .contact p {
    font-size: 16pt;
    font-size: 400;
    color: white;
    margin-left: 10px;

  }

  .container2{
    display: flex;
  }
  .text{
  border-radius: 10px;
  margin: 10px;
  width: 70%;
  background: transparent;
  }
  
  .text h1{
    margin: 10px;
    font-size: 22pt;
    color:rgb(78, 20, 20);
  }

  .text p{
    margin: 10px;
    font-size: 17pt;
    color: white;
  }

  .school{
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    background:transparent;
  }

  .school h1{
    margin: 10px;
    font-size: 22pt;
    color:rgb(78, 20, 20);
  }

  .school p{
    margin: 10px;
    font-size: 15pt;
    color:white;
  }