.port {
    width:auto;
    height: auto;
    border:outset;
    margin: 80px;

}

.port p{
    margin: 10px;
    font-size: 20pt;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.port h1{
    text-align: center; 
}

img{
    margin: 10px;
} 